[submodule "dotfiles"]
	path = dotfiles
	url = git@github.com:pixel-petals/bin-kit-forks.git
	branch = remote/dotfiles

[submodule "bash-cheat-sheet"]
	path = bash-cheat-sheet
	url = git@github.com:pixel-petals/bin-kit-forks.git
	branch = remote/bash-cheat-sheet

[submodule "ba.sh"]
	path = ba.sh
	url = git@github.com:pixel-petals/bin-kit-forks.git
	branch = remote/ba.sh

[submodule "sshuttle"]
	path = sshuttle
	url = git@github.com:pixel-petals/bin-kit-forks.git
	branch = remote/sshuttle

[submodule "testing-in-bash"]
	path = testing-in-bash
	url = git@github.com:pixel-petals/bin-kit-forks.git
	branch = remote/testing-in-bash

[submodule "bashunit"]
	path = bashunit
	url = git@github.com:pixel-petals/bin-kit-forks.git
	branch = remote/bashunit

[submodule "modernish"]
	path = modernish
	url = git@github.com:pixel-petals/bin-kit-forks.git
	branch = remote/modernish

[submodule "bash-infinity"]
	path = bash-infinity
	url = git@github.com:pixel-petals/bin-kit-forks.git
	branch = remote/bash-infinity

[submodule "bashmatic"]
	path = bashmatic
	url = git@github.com:pixel-petals/bin-kit-forks.git
	branch = remote/bashmatic
